{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}


{% block content %}



  {% if registered %}
    <h1>Спасибо за регистрацию</h1>
  {% else %}
      <h3>Зарегистрируйтесь: </h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <div class="row justify-content-center">
        <div class="col-md-6">
        <input type="submit" value="Зарегистрирваться" class="btn btn-primary btn-block">
        </div>
        </div>
      </form>
  {% endif %}
{%endblock%}
