{% load static %}
<div class="container">
<div class="header-main">
        <div class="info" id="main">
            <h1>ЗАГОВОРИТЕ НА ЯПОНСКОМ</h1>
            <h2>НЕ ВЫХОДЯ ИЗ ДОМА</h2>
	        <div class='Samyi' >Самый эффективный онлайн курс</div>
            <a href="https://wa.me/79038481534" onclick=''; return true;" target="_blank"><span class='download'>Скачать сейчас</span></a>
        </div>
	        <img class="Kati" src="{% static 'img/Kati.png'%}" alt=" ">
</div>
</div>
    </header>
<div class="container">
 <div class="row">
  <div class="col-md-12 d-flex mb-5 justify-content-center">
   <div class="about" id="about">
    <h1 class='hi'>Всем привет! <br> Меня зовут Екатерина </h1>
    <p class='description'> Всем привет! Меня зовут Екатерина. Я основатель онлайн школы японского языка "Katari_japanese"  и языковой школы "Linguist" в Нижнем Новгороде, где уже 9 лет я преподаю японский язык. На базе моей школы проходят разговорные клубы и встречи с японцами, мы занимаемся развитием японской культуры и организуем различные мероприятия, посвещенные этой удивительной стране. Мне очень нравится то, чем я занимаюсь, поэтому я организовала онлайн курс для всех желающих изучать японский язык, где вы сможте легко разобраться с базовой грамматикой японского языка, а также окунуться в волшебный мир иероглифов и научиться говорить на японском языке.</p>
    <div class='connect'>
    <a href="https://vk.com/katari_japanese"><img class="" style='padding-right:2px; padding-left:2px;' src="{% static 'img/vk.png' %}" alt=" "></a>
    <a href="https://www.instagram.com/katari_japanese"><img class=" " style='padding-right:2px; padding-left:2px;' src="{% static 'img/insta.png' %}" alt=" "></a>
    <a href="URL"><img class=" " style='padding-right:2px; padding-left:2px;' src="{% static 'img/youtube.png' %}" alt=" "></a>
    </div>

    <div id='steps'>
    <h1 class='hi'>Мои курсы</h1>
    <p class='description' style='text-align:center;'>Идет набор в группы разных уровней от нуля до подготовки к уровню Н3.</p>
    </div>
   </div>
  </div>
 </div>
</div>